// -- IMPORTS

@import "base_style.styl"

// -- CLASSES

.text-button
{
    @extend .form-button;
    background: url(/static/image/icon/admin/text_icon.svg) no-repeat center center;
    background-size: contain;
}

.section-button
{
    @extend .form-button;
    background: url(/static/image/icon/admin/section_icon.svg) no-repeat center center;
    background-size: contain;
}

.article-button
{
    @extend .form-button;
    background: url(/static/image/icon/admin/article_icon.svg) no-repeat center center;
    background-size: contain;
}

.contact-button
{
    @extend .form-button;
    background: url(/static/image/icon/admin/contact_icon.svg) no-repeat center center;
    background-size: contain;
}

.user-button
{
    @extend .form-button;
    background: url(/static/image/icon/admin/user_icon.svg) no-repeat center center;
    background-size: contain;
}

.text-table
{
    grid-template-columns: repeat( 3, auto );
}

.section-table
{
    grid-template-columns: repeat( 3, auto );
}

.article-table
{
    grid-template-columns: repeat( 7, auto );
}

.contact-table
{
    grid-template-columns: repeat( 5, auto );
}

.user-table
{
    grid-template-columns: repeat( 5, auto );
}
